{% extends "base.html" %}{% block title %}Room Creation{% endblock %}

{% block content %}
<head>
  <style>
    .myDiv{
      border: 10px ridge;
      border-color: #5E83A2;
      background-color: #E5E5E5;
      padding: 25px 50px 25px 50px;
      }
     .split{
      float:left;
      }
  </style>
</head>

<h1 align = "center">Find a room to join</h1>
<br>
<div class="myDiv">
<form method = "POST">
  <div class="form-row ">
    <div class="col-sm-5">
      <label for="roomName">Search for room name:</label>
      <input
       type="text" 
       class="form-control"
       id="roomName" 
       name="roomName" 
       placeholder="Room Name">
    </div>
    <div class="col-sm-5">
      <label for="invitation_code">Room invitation code: </label>
      <input
       type="text" 
       class="form-control"
       id="invitation_code" 
       name="invitation_code" 
       placeholder=Invitation Code...">
    </div>
    <div class="col">
      <br />
      <button type="submit" class="btn btn-block btn-primary">Join</button>
    </div>
  </div>
</div>
</form>

{% endblock %}