{% extends "base.html" %}{% block title %}Home{% endblock %}

{% block content %}
<head>
    <style>
    .anotherDiv{
        width: 48%;
        border: 10px ridge;
        border-color: #5E83A2;
        background-color: #f7f9f9;
        padding: 10px 1px 10px 10px;
    }
    </style>
</head>


<h1 align="center"> Hello, {{ user.firstName }} {{ user.lastname[0] }} </h1>
<h2 align="center"> Here is your at a glance:</h2>
<br>

<div class = "myDiv">
    <div class = row>
        <div class = anotherDiv>
            {% if user.chores %}
            <h2>Chores left to do:</h2>
                {% for i in range(0,len) %}
                    {% if user.chores[i].status == False %}
                        <h3> - {{ user.chores[i].choreName }}
                            <br>
                            <p style="text-indent:40px">Due: {{ user.chores[i].due_date }}</p></h3>
                        {% if i != len-1 %}
                            <br>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <h3>No chores left to complete!</h3>
            {% endif %}
        </div>
        <div class="col"></div>

        <div class = anotherDiv>
            <h2> Payment Status:</h2>
            {% if user.payment == True%}
            <h3> <p style="text-indent:40px">Complete</p> </h3>
            {% else %}
                <h3> <p style="text-indent:40px">Due: {{user.paymentDate}}</p> </h3>
            {% endif %}
            <h2> New chats:</h2>
            <br>
            <h2> Events:</h2>
        </div>
    </div>



</div>


{% endblock %}