{% extends "base.html" %}{% block title %}ManageAccount{% endblock %}

{% block content %}
<head>
  <style>
    .myDiv{
      border: 10px ridge grey;
      background-color: white;
      padding: 50px;
  </style>
</head>

<h1 align = "center">Manage Account</h1>
<h3 align = "center"> Change Information </h3>
<div class = myDiv>
<form method = "POST">
    <div class = "form-group">
        <label for="email">Current Email: {{user.email}}</label>
        <input
        type="email"
        class ="form-control"
        id="email"
        name="email"
        placeholder="New email"/>
    </div>
    <button type="submit" class="btn btn-primary">Change Email</button>
</form>

<br>

<form method = "POST">
    <div class="form-group">
        <label for="firstName">Current First Name: {{user.firstName}}</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="New first name"
        />
      </div>
    <button type="submit" class="btn btn-primary">Change First Name</button>
</form>

<br>

<form method = "POST">
    <div class = "form-group">
        <label for="lastname">Current Last Name: {{user.lastname}}</label>
        <input
        type="text"
        class ="form-control"
        id="lastname"
        name="lastname"
        placeholder="New last name"/>
    </div>
    <button type="submit" class="btn btn-primary">Change Last Name</button>
</form>

<br>

<form method = "POST">
    <div class = "form-group">
        <label for="password">Password</label>
        <input
        type="password"
        class ="form-control"
        id="password1"
        name="password1"
        placeholder="New Password"/>
    </div>

    <div class = "form-group">
        <label for="password">Password (Confirm)</label>
        <input
        type="password"
        class ="form-control"
        id="password2"
        name="password2"
        placeholder="Confirm New Password"/>
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>
</form>
</div>
{% endblock %}