{% extends "base.html" %}{% block title %}Room Creation{% endblock %}

{% block content %}
<head>
  <style>
    .myDiv{
      border: 10px ridge;
      border-color: #5E83A2;
      background-color: #E5E5E5;
      padding: 25px 50px 15px 50px;
      }
     .split{
      float:left;
      }
  </style>
</head>
<h1 align = "center">Room Creation</h1>
<br>

<div class = "myDiv">
    <form method = "POST">
        <div class = "row">
            <div class = "col-sm-5">
                <div class = "form-group">
                    <input
                        type="name"
                        class ="form-control"
                        id="roomName"
                        name="roomName"
                        placeholder="Enter Room's Name"/>
                </div>
            </div>

            <div class = "col-sm-5">
                <div class = "form-group ">
                    <input
                        type="text"
                        class ="form-control"
                        id="roomCapacity"
                        name="roomCapacity"
                        placeholder="Enter Room's Capacity"/>
                </div>
            </div>

            <div class = "col-sm-2">
                <button type="submit" class="btn btn-block btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}