{% extends "base.html" %}{% block title %}Room Dashboard{% endblock %}

{% block content %}


<h1 align = "center">Room Dashboard</h1>
<br>
<br>

{%if user.room_id is none%}
<button type="button" class="btn btn-outline-primary" onclick="window.location.href='{{ url_for( 'room.room_creation') }}';">Create new room</button>
<button type="button" class="btn btn-outline-primary" onclick="window.location.href='{{ url_for( 'room.room_joining') }}';">Join a room</button>

{% else %}
<h2 align = "center">{{ room.roomName }}</h1>

{%if user.id == room.admin_id%}
<button type="button" class="btn btn-outline-primary" onclick="window.location.href='{{ url_for( 'room.room_management') }}';">Room Management</button>
{% endif %}

<br>
<br>

<h2 align="left">Members</h1>
<ul class="list-group" id="users">
  {% for user in room.users %}
  {%if room.admin_id == user.id%}
  <div>
  <li class="list-group-item list-group-item-action list-group-item-primary">
  	{{ user.firstName }} {{ user.lastname }} <span class="badge badge-primary badge-pill">Admin</span>
  </li>
  </div>
  {% else %}
  <div>
  <li class="list-group-item list-group-item-action list-group-item-info">
    {{ user.firstName }} {{ user.lastname }}
  </li>
  </div>
</ul>
  {% endif %}
  {% endfor %}
<br>
<br>
  {%if user.id == room.admin_id%}
  <p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Click to see the invitation code
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body" >
    {{room.invitation_code}}
  </div>
</div>

  
  {% endif %}
  {% endif %}



{% endblock %}


