{% extends "base.html" %}{% block title %}Room Creation{% endblock %}

{% block content %}
<h1 align = "center">Room Creation</h1>
<form method = "POST">
    <div class = "form-group">
        <label for="roomName">Room Name</label>
        <input 
        type="name" 
        class ="form-control" 
        id="roomName" 
        name="roomName" 
        placeholder="Enter Room's Name"/>
    </div>
    <div class = "form-group ">
        <label for="roomCapacity">Room Capacity</label>
        <input 
        type="text" 
        class ="form-control" 
        id="roomCapacity" 
        name="roomCapacity" 
        placeholder="Enter Room's Capacity"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}