{% extends "base.html" %}{% block title %}Sign Up{% endblock %}

{% block content %}
<h1 align="center">Sign-Up</h1>
<br>
<head>
  <style>
    .myDiv{
      border: 10px ridge;
      border-color: #5E83A2;
      background-color: white;
      padding: 50px;
  </style>
</head>

<div class="myDiv">
<form method = "POST">
    <div class = "form-group">
        <label for="email">Email Address</label>
        <input 
        type="email" 
        class ="form-control" 
        id="email" 
        name="email" 
        placeholder="Enter email"/>
    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="Enter first name"
        />
      </div>
    <div class = "form-group">
        <label for="lastname">Last Name</label>
        <input 
        type="text" 
        class ="form-control" 
        id="lastname" 
        name="lastname" 
        placeholder="Enter last name"/>
    </div>
    <div class = "form-group">
        <label for="link">Payment Link</label>
        <input
        type="text"
        class ="form-control"
        id="link"
        name="link"
        placeholder="Enter Your Rent Payment Link"/>
    </div>
    <div class = "form-group">
        <label for="password">Password</label>
        <input 
        type="password" 
        class ="form-control" 
        id="password1" 
        name="password1" 
        placeholder="Enter Password"/>
    </div>
    <div class = "form-group">
        <label for="password">Password (Confirm)</label>
        <input 
        type="password" 
        class ="form-control" 
        id="password2" 
        name="password2" 
        placeholder="Confirm Password"/>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}