{% extends "base.html" %}{% block title %}Login{% endblock %}
{% block content%}
<h1 align="center">Login</h1>
<br>
<head>
  <style>
    .myDiv{
      border: 10px ridge;
      border-color: #5E83A2;
      background-color: white;
      padding: 50px;
  </style>
</head>

<div class = "myDiv">
    <form method="POST">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    {% endblock %}
</div>
    